<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page1</title>
    <!--css-->
    <link rel="stylesheet" href="./css/sub1.css">
</head>
<body>
    <div class="wrap">
        
        <div id="search-form">
           <div id="search-first">
                <div class="select">
                    <input type="radio" id="select" name="shop"><label for="select"><span>OFF</span></label>
                    <input type="radio" id="select2" name="shop"><label for="select2">지역별</label>
                </div>
                <div class="area">
                    <select name="color" class="area1">
                        <option value=""></option>
                        <option value="104">경기도</option>
                    </select>
                    <select name="color" class="area1">
                        <option value=""></option>
                        <option value="104">성남시</option>
                    </select>
                </div>
           </div>
           <div id="search-second">
                <div class="select">
                    <input type="radio" id="select3" name="shop2"><label for="select3"><span>계절별</span></label>
                    <input type="radio" id="select4" name="shop2"><label for="select4">OFF</label>
                </div>
                <div class="season">
                    <input type="checkbox" name="spring" id="spring" value="spring">
                    <label for="spring">#봄</label>
                    <input type="checkbox" name="summer" id="summer" value="summer">
                    <label for="summer">#여름</label>
                    <input type="checkbox" name="fall" id="fall" value="fall">
                    <label for="fall">#가을</label>
                    <input type="checkbox" name="winter" id="winter" value="winter">
                    <label for="winter">#겨울</label>
                </div>
           </div>
           <div id="search-tree">
                <div class="select">
                    <input type="radio" id="select5" name="shop3"><label for="select5"><span>OFF</span></label>
                    <input type="radio" id="select6" name="shop3"><label for="select6">테마별</label>
                </div>
                <div class="tema">
                    <input type="checkbox" name="healling" id="healling" value="healling">
                    <label for="healling">#힐링</label>
                    <input type="checkbox" name="healling" id="healling2" value="healling2">
                    <label for="healling2">#힐링</label>
                    <input type="checkbox" name="healling" id="healling3" value="healling3">
                    <label for="healling3">#힐링</label>
                    <input type="checkbox" name="healling" id="healling4" value="healling4">
                    <label for="healling4">#힐링</label>
                    <input type="checkbox" name="healling" id="healling5" value="healling5">
                    <label for="healling5">#힐링</label>
                </div>
           </div>
           <div id="search">
                <input type="submit" value="검색">
           </div>
        </div>
        <div class="content2">
            <input type="radio" name="content-tour" id="ct" checked><label for="ct">관광지</label>
            <input type="radio" name="content-tour" id="cf"><label for="cf">축제</label>
        </div>
        <div id="content-box">

        </div>

    </div>
    
</body>
</html>