<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>축제 상세페이지</title>
<link rel="stylesheet" href="./css/sub2_festival.css">
</head>
<body>
	<div class="container">
		<div class="header">
			<img src="./images/main.png" alt="축제 이미지" class="festival-image">
			<div class="festival-info">
				<h1>축제 이름</h1>
				<ul class="festival-details">
					<li><img src="../img/call.png" alt="전화" class="icon">
						전화번호</li>
					<li><img src="../img/calendar.png" alt="달력" class="icon">
						개최 기간</li>
					<li><img src="../img/locating.png" alt="위치" class="icon">
						위치</li>
					<li><img src="../img/money.png" alt="요금" class="icon">
						입장료</li>
					<li><img src="../img/link.png" alt="링크" class="icon"> 관련
						링크</li>
				</ul>
			</div>
		</div>

		<div class="description">
			<h2>축제 설명</h2>
			<p>
				축제설명축제설명축제설명축제설명<br>축제설명축제설명축제설명축제설명<br>축제설명축제설명축제설명축제설명<br>축제설명축제설명축제설명축제설명<br>축제설명축제설명축제설명축제설명
			</p>
		</div>

		<button class="interest-btn">관심 등록</button>

		<div class="similar-festivals">
			<h2>○○○○와 비슷한 축제</h2>
			<div class="festival-cards">
				<div class="festival-card">
					<img src="./images/fes1.png" alt="축제 1">
					<p>축제 이름</p>
				</div>
				<div class="festival-card">
					<img src="./images/fes2.png" alt="축제 2">
					<p>축제 이름</p>
				</div>
				<div class="festival-card">
					<img src="./images/fes3.png" alt="축제 3">
					<p>축제 이름</p>
				</div>
				<div class="festival-card">
					<img src="./images/fes4.png" alt="축제 4">
					<p>축제 이름</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>