* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #DFF0FF;
}

.content{
    background-color: white;
    width: 50%;
    height: 500px;
}

.content img{
    width: 244px;
}

.content input{
    width: 200px;
}